.DS_Store
.gradle
.idea
.externalNativeBuild

/local.properties
/build
/captures

*.iml
*.apk
*.ap_
*.dex

#Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/metadata/android/*/images/*/

